*.d
*.o
*.elf
*.bin
*.exe
*.dll
*.lib
*.pdb
*.exp
./funcs.h
patches.map
build/
.vscode/settings.json
Removeifbuilding/scenario_arrays.c
Removeifbuilding/ScenarioKareoke.py
Removeifbuilding/ScenarioKareoke.py
/Removeifbuilding
src/hook.h
